
<style>
    .form-container {
        padding: 50px;
        max-width: 600px;
        border-radius: 5px;
    }
</style>
<div class="form-container container shadow">
    <h1 class="title">Create a Service</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary">Back To Home</a>
    </form>
</div>